.drawer_container {
	z-index: 20;

	position: fixed;
	top: 1.5%;
	right: 0;
	height: 97%;
	width: min(45%, 100vw);
	background: white;
	box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
	overflow-y: auto;
	border-radius: 12px 0 0 12px;

	.drawer_header {
		z-index: 30;

		width: 100%;
		box-sizing: border-box;
		position: sticky;
		top: 0;
		background: white;
		padding: 16px;
	}

	.drawer_body {
		padding: 16px;
		box-sizing: border-box;

		.drawer_row {
			display: flex;
			gap: 20px;

			.key {
				font-weight: bolder;
				text-align: right;
				color: #555;
				min-width: 130px;
				flex-shrink: 0;
			}
			.value {
				flex-grow: 1;
				color: #333;
			}
		}

		.row_midterm_score_missing,
		.row_final_score_missing,
		.row_performance_score_missing,
		.row_participation_level_num,
		.row_participation_risk_score,
		.row_participation_flag {
			display: none;
		}
	}
}
