@use './breakpoints' as *;
@use 'sass:color';

.filter_wapper {
	width: max-content;
	width: 260px;
	position: absolute;
	background-color: $color_white;
	border: 1px solid color.scale($color_white, $lightness: -20%);
	border-radius: 1vh;
	padding: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	z-index: 5;

	.fillter_header {
		display: flex;
		justify-content: space-between;
		gap: 8px;
		align-items: center;

		h4 {
			font-size: 16px;
		}

		button {
			cursor: pointer;
			border-radius: 4px;
			width: 24px;
			height: 24px;
			color: color.adjust($color_gray, $lightness: -25%);

			svg {
				width: 100%;
				height: 100%;
				display: block;
			}

			&:hover {
				background-color: color.adjust($color_gray, $alpha: -0.9);
				color: $color_black;

				svg {
					transform: rotate(90deg);
				}
			}
		}
	}

	.filter_srot {
		margin-top: 12px;

		.filter_srot_header {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 6px;
		}
		.filter_srot_content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				gap: 6px;
				padding: 6px 0;
				border-radius: 4px;
				border: 1px solid color.scale($color_white, $lightness: -20%);
				background-color: $color_white;
				color: color.adjust($color_gray, $lightness: -25%);
				cursor: pointer;
				text-align: center;

				svg {
					width: 24px;
					height: 24px;
				}

				&:hover {
					background-color: color.adjust($color_gray, $alpha: -0.9);
					color: $color_black;
				}
			}
		}
	}

	.filter_rowDel {
		font-size: 12px;
		margin-top: 12px;

		.filter_rowDel_header {
			margin-bottom: 6px;
			font-size: 14px;
			font-weight: bold;
		}

		.filter_rowDel_content {
			border: 1px solid color.scale($color_white, $lightness: -10%);
			border-radius: 8px;
			padding: 8px;
			max-height: 180px;
			overflow-y: auto;

			label {
				margin-bottom: 6px;
				font-size: 14px;
				display: flex;
				gap: 8px;
				align-items: flex-start;
			}
		}
	}

	.filter_colDel {
		margin-top: 12px;
		text-align: center;

		button {
			cursor: pointer;
			border-radius: 4px;
			padding: 6px 0;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color_white;
			position: relative;
			overflow: hidden;

			svg {
				fill: $color_red;
				transition: opacity 0.15s ease;
			}

			&::after {
				content: '열 숨기기';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: $color_white;
				font-size: 13px;
				font-weight: bold;
				opacity: 0;
			}

			&:hover {
				background-color: $color_red;

				svg {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}
	}
}
