@use './breakpoints' as *;

.modal_wapper {
	z-index: 10;

	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	display: grid;
	place-items: center;

	.modal_container {
		z-index: 20;

		background: #ffffff;
		border-radius: 12px;
		padding: 20px;
		width: min(560px, 92vw);
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

		.modal_header {
			z-index: 30;
			margin-bottom: 12px;
		}

		.modal_body {
			display: grid;
			flex: 1;
			min-height: 0;
			gap: 12px;
			margin-bottom: 12px;
			overflow-x: hidden;
			overflow-y: auto;

			.modal_file_input {
				padding: 12px;
				border: 2px dashed rgba(0, 0, 0, 0.1);
				border-radius: 8px;
				text-align: center;
				cursor: pointer;
				transition: border-color 0.2s ease;

				&:hover {
					border-color: $color_green;
				}
			}

			.modal_list_item {
				display: flex;
				gap: 8px;
				align-items: center;
			}
			.modal_grid_item {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 12px;
				align-items: center;
				justify-content: space-between;

				span {
					font-size: 14px;
					font-weight: bold;
				}

				.modal_text_input {
					width: 100%;
					padding: 3px;
					margin-top: 4px;
					border: none;
					border-bottom: 2px solid rgba(0, 0, 0, 0.1);
					&:focus {
						outline: none;
						border-color: $color_green;
					}
				}
			}
			@media (max-width: $mobile) {
				.modal_grid_item {
					grid-template-columns: 1fr;
				}
			}
		}
		.modal_errors {
			background: lighten($color_red, 35%);
			color: darken($color_red, 15%);
			border-radius: 8px;
			padding: 12px;

			.modal_errors_title {
				font-size: 16px;
				margin-bottom: 12px;
				font-weight: bold;
			}
		}

		.modal_footer {
			display: flex;
			justify-content: center;
			gap: 8px;
			margin-top: 16px;

			button {
				padding: 8px 16px;
				border: none;
				border-radius: 8px;
				font-weight: bold;
				color: #fff;
				cursor: pointer;
				background-color: $color_green;

				&:disabled {
					background-color: lighten($color_gray, 30%);
					cursor: not-allowed;
				}
			}
		}
	}
}
