@use './breakpoints' as *;
@use 'sass:color';

.overlay_header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.overlay_title {
	margin: 0;
	flex: 1;
	min-width: 0;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding-left: 40px;
	color: $color_black;
}

.overlay_close_button {
	border: 0;
	background: transparent;
	padding: 0;
	border-radius: 1.2vh;
	cursor: pointer;
	width: 40px;
	height: 40px;
	flex: 0 0 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: color.adjust($color_gray, $lightness: -25%);

	svg {
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: color.adjust($color_gray, $alpha: -0.9);
		color: $color_black;

		svg {
			transform: rotate(90deg);
		}
	}

	&:focus-visible {
		border: 2px solid $color_gray;
	}
}
