.overlay_header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.overlay_title {
	margin: 0;
	flex: 1;
	min-width: 0;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.overlay_close_button {
	border: 0;
	background: transparent;
	padding: 0;
	border-radius: 4px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	flex: 0 0 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		color: #333;
		width: 100%;
		height: 100%;
		transition:
			transform 0.2s,
			color 0.2s;
	}

	&:hover {
		svg {
			color: #000;
			transform: rotate(90deg);
		}
	}
}
